* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e0f7fa;
}

.contenedor-principal{
    margin: 15px;
}

.contenedor-de-tarjetas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 10px 20px;
}

h2.título{
    text-align: center;
    font-size: 50px;
    background-color: #001f3f;
    color: #e0e5eb;
    margin: 10px 0;
    border-radius: 15px;
}

.tarjeta-de-imagen {
    border-radius: 15px;
    text-align: center;
    background-color: #001f3f;
}

.imagen{
    margin: 10px 10px 5px 10px;
    border-radius: 15px;
    max-width: 90%;
}

.descripción {
    font-size: larger;
    color: #e0e5eb;
    font-weight: bold;
    margin: 0 10px 10px 10px;
    border-radius: 15px;
}